body {
    background-color: #E0FFFF; /* Celeste pallido */
}

#intestazione {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4682B4; /* Blu acciaio */
    border: none;
}

.btn-primary {
    background-color: #4682B4; /* Blu acciaio */
    border-color: #4682B4; /* Blu acciaio */
    color: #ffffff; /* Bianco */
}

.btn-primary:hover {
    background-color: #4169E1; /* Blu reale */
    border-color: #4169E1; /* Blu reale */
}

.btn-secondary {
    background-color: #87CEEB; /* Azzurro cielo */
    border-color: #4682B4; /* Blu acciaio */
    color: #ffffff; /* Bianco */
}

.btn-secondary:hover {
    background-color: #00BFFF; /* Blu azzurro */
    border-color: #4682B4; /* Blu acciaio */
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #4682B4; /* Blu acciaio */
}
