button {
    display: block;
    width: 100px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.remove{
    background-color: #dc3545;
}
.modifica{
    background-color: #ffc107;
}
.remove:hover{
    background-color: #ad0f1f;
}
.modifica:hover{
    background-color: #d2a520;
}
/* 
button:hover {
    background-color: #0056b3;
} */


/* Personalizzazione DataTable */
#myTable_wrapper {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

#myTable_wrapper .dataTables_length {
    margin-bottom: 10px;
}

#myTable_wrapper .dataTables_filter input {
    margin-left: 10px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#myTable_wrapper .dataTables_paginate .paginate_button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    margin-right: 5px;
}

#myTable_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #ccc;
}

#myTable_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #e0e0e0;
}

#myTable_wrapper .dataTables_info {
    margin-bottom: 10px;
}

#myTable th,
#myTable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#myTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

#myTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#myTable tbody tr:hover {
    background-color: #f0f0f0;
}
#myTable th:nth-child(1),
#myTable td:nth-child(1) {
    width: 100px; /* Imposta la larghezza della prima colonna */
}

#myTable th:nth-child(2),
#myTable td:nth-child(2) {
    width: 150px; /* Imposta la larghezza della seconda colonna */
}

/* E così via per le altre colonne */