body {
    background-color: #E0FFFF; /* Celeste pallido */
    color: #4682B4; /* Blu acciaio */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #4682B4; /* Blu acciaio */
    border-color: #4682B4; /* Blu acciaio */
    color: #ffffff; /* Bianco */
}

.btn-primary:hover {
    background-color: #4169E1; /* Blu reale */
    border-color: #4169E1; /* Blu reale */
}

.rides {
    margin-top: 20px;
}
