body {
    background-color: #E0FFFF; /* Celeste pallido */
}

.login-container {
    max-width: 400px;
    margin: auto;
    background: #FFF8E1; /* Beige chiaro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #4682B4; /* Ombra blu acciaio */
}

h1 {
    color: #4682B4; /* Blu acciaio */
}

.btn-primary {
    background-color: #4682B4; /* Blu acciaio */
    border-color: #4682B4; /* Blu acciaio */
}

.btn-primary:hover {
    background-color: #4169E1; /* Blu reale */
    border-color: #4169E1; /* Blu reale */
}

.register-link a {
    color: #4682B4; /* Blu acciaio */
}

.fa-house {
    font-size: 50px; /* Imposta la dimensione desiderata */
    color: #4682B4; /* Blu acciaio */
    cursor: pointer; /* Aggiungi il cursore pointer per indicare che è cliccabile */
}
