body {
    background-color: #E0FFFF; /* Celeste pallido */
}

#intestazione {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4682B4; /* Blu acciaio */
    border: none;
}

.btn-primary {
    background-color: #4682B4; /* Blu acciaio */
    border-color: #4682B4; /* Blu acciaio */
    color: #ffffff; /* Bianco */
}

.btn-primary:hover {
    background-color: #4169E1; /* Blu reale */
    border-color: #4169E1; /* Blu reale */
}

.btn-secondary {
    background-color: #87CEEB; /* Azzurro cielo */
    border-color: #4682B4; /* Blu acciaio */
    color: #ffffff; /* Bianco */
}

.btn-secondary:hover {
    background-color: #00BFFF; /* Blu azzurro */
    border-color: #4682B4; /* Blu acciaio */
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #4682B4; /* Blu acciaio */
}

/* Stile per la navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px; /* Altezza più sottile */
    padding: 5px 10px; /* Riduci il padding */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Aggiungi un'ombra per migliorare la visibilità */
}

.navbar .navbar-brand img {
    height: 60px; /* Adatta l'altezza del logo */
    width: 60px;
}

.navbar .navbar-nav .nav-item .btn {
    font-size: 14px; /* Dimensione del testo più piccola */
    padding: 5px 10px; /* Riduci il padding dei pulsanti */
}

body {
    padding-top: 60px; /* Compensa l'altezza della navbar */
}

.container {
    margin-top: 20px; /* Aggiungi un margine superiore per evitare la sovrapposizione con la navbar */
}
